{% load static %}
<section class="ftco-section bg-whith ftco-no-pt ftco-intro">
	<div class="container">
		<div class="row">
		<div class="col-md-4 d-flex align-self-stretch px-4 ftco-animate">
		<div class="d-block services  text-center">
			<div class="icon d-flex align-items-center justify-content-center">
				<span class="flaticon-pawprint"></span>
			</div>
			<div class="media-body">
			<h3 class="heading">Se cadastre no nosso site</h3>
			<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right.</p>
			<a href="#" class="btn-custom d-flex align-items-center justify-content-center"><span class="fa fa-chevron-right"></span><i class="sr-only">Read more</i></a>
			</div>
		</div>      
		</div>
		<div class="col-md-4 d-flex align-self-stretch px-4 ftco-animate">
		<div class="d-block services text-center">
			<div class="icon d-flex align-items-center justify-content-center">
				<span class="flaticon-veterinarian"></span>
			</div>
			<div class="media-body">
			<h3 class="heading">Escolha um pet para ser seu melhor amigo</h3>
			<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right.</p>
			<a href="#" class="btn-custom d-flex align-items-center justify-content-center"><span class="fa fa-chevron-right"></span><i class="sr-only">Read more</i></a>
			</div>
		</div>    
		</div>
		<div class="col-md-4 d-flex align-self-stretch px-4 ftco-animate">
		<div class="d-block services text-center">
			<div class="icon d-flex align-items-center justify-content-center">
				<span class="flaticon-blind"></span>
			</div>
			<div class="media-body">
			<h3 class="heading">Faça a adoção junto ao dono atual do pet</h3>
			<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right.</p>
			<a href="#" class="btn-custom d-flex align-items-center justify-content-center"><span class="fa fa-chevron-right"></span><i class="sr-only">Read more</i>
			</div>
		</div>      
		</div>
	</div>
	</div>
</section>